.messages-main-section {
    position: relative;
    margin: 0vh 25vw;
    border: 1px solid rgba(219, 219, 219);
    height: 87vh;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.messages-left-section {
    position: relative;
    height: 100%;
    width: 45%;
    border-right: 1px solid rgba(219, 219, 219);
    overflow: hidden;
}

.messages-right-section {
    position: relative;
    height: 100%;
    width: 100%;
}

.messages-all-users-container {
    position: relative;
    width: 100%;
    height: 93%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.messages-all-users {
    height: 4%;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.messages-all-name-message {
    position: relative;
    width: 70%;
}

.messages-user-image {
    object-fit: cover;
    border-radius: 50%;
    margin-right: 7px;
}

.messages-all-users:hover {
    background-color: #2626260c;
    cursor: pointer;
}

.messages-user-name {
    font-size: 14px;
    color: #262626c5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.messages-user-message {
    color: #2626269b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.messages-right-container {
    position: relative;
    width: 100%;
    height: 86%;
    overflow-y: scroll;
}

.messages-top-section {
    text-align: center;
    color: #262626;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none solid rgb(38, 38, 38);
    border-bottom: 1px solid rgba(219, 219, 219);
    padding: 17px 0px;
}

.messages-right-section .messages-top-section {
    text-align: left;
    padding-left: 7%;
}

.messages-right-detail {
    padding: 30px 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 93%;
}

.message-detail-left {
    position: relative;
    width: max-content;
    max-width: 37%;
    color: rgb(19, 19, 19);
    margin-bottom: 10px;
    border: 1px solid rgba(219, 219, 219, 0.7);
    border-radius: 24px;
    font-size: 14.5px;
    line-height: 18px;
    padding: 16px;
    font-weight: 400;
}

.message-detail-right {
    align-self: flex-end;
    position: relative;
    width: max-content;
    max-width: 37%;
    margin-bottom: 10px;
    color: rgb(19, 19, 19);
    background-color: rgba(219, 219, 219, 0.7);
    border-radius: 24px;
    font-size: 14.5px;
    line-height: 18px;
    padding: 16px;
    font-weight: 400;
}

.new-messages {
    position: relative;
    width: 100%;
    position: absolute;
    bottom: 0.1px;
    left: 0.1px;
}

.new-message-input {
    box-sizing: border-box;
    position: relative;
    width: 91.5%;
    padding: 10px;
    margin: 10px 30px;
    border: 1px solid rgba(219, 219, 219);
    border-radius: 20px;
    outline: none;
    font-size: 15px;
}