.Signup-main-page {
    box-sizing: border-box;
    height: 98vh;
    /* width: 100vw; */
    /* margin-top: -2rem; */
    background-color: #fafafa;
}

.Signup {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 2rem;
    width: 25%;
    box-sizing: border-box;
}

.Signup-logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Signup-logo img {
    height: 51px;
    width: 175px;
}

.Signup input[name='email'],
.Signup input[name='password'],
.Signup input[name='name'],
.Signup input[name='file'] {
    margin: 0.5rem 0 0 0;
    padding: 0.6rem;
    width: 80%;
    font-size: 14px;
    color: #262626;
    line-height: 18px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    outline: none;
}

.signup-error {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border: 1px solid #F2D7D5;
    margin: 0.5rem 0 0 0;
    padding: 0.2rem;
    width: 84%;
    font-size: 12px;
    color: #C0392B;
    line-height: 18px;
    background: #F9EBEA;
    border-radius: 4px;
    outline: none;
}

.Signup-btn {
    margin: 28px 40px 8px 25px;
    border-radius: 4px;
    border: none;
    background-color: #0095F6;
    width: 85%;
    padding: 0.4rem;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.Signup-new {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Signup-new a {
    color: rgb(0, 149, 246);
    text-decoration: none;
    font-weight: 600;
}

.Signup-footer {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 1.5rem;
    width: 25%;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
}

.stores {
    margin-top: 2rem;
}

.stores p {
    color: rgb(38, 38, 38);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}