.complete-profile {
    margin: 2% 17% 0% 19%;
    display: grid;
    grid-template-columns: auto 70%;
}

.profile-pic {
    margin-left: 44%;
    background-size: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.user-detail {
    margin-left: 8%;
    margin-top: 1%;
    margin-bottom: 10%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(38, 38, 38);
}

.user-name {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
}

.all-Posts {
    /* width: 0%; */
    margin-left: 22%;
    display: grid;
    grid-template-columns: 21% 21% 21%;
    column-gap: 6%;
    row-gap: 2%;
    margin-bottom: 2%;
}

.all-Posts img {
    background-size: contain;
    height: 285px;
    width: 293px;
    object-fit: cover;
}

.btn-follow-logout {
    background-color: #0095f6;
    padding: 3px 15px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    margin-left: 5%;
    cursor: pointer;
    font-weight: 500;
}