.s-user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 10px 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.recent-heading {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.s-user-name-container {
    margin-left: 0.5rem;
    margin-top: 0.3rem;
}

.s-user-name {
    text-decoration: none;
    color: #2c3e50;
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
}

.follow-btn {
    display: block;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 1px 6px;
    color: white;
    width: 40px;
    margin-left: 15px;
    text-align: center;
    font-size: smaller;
    border-radius: 2px;
}