.inner {
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    width: 100vw;
    margin-top: -12px;
    margin-bottom: -18px;
    z-index: 1;
}

li {
    display: inline-block;
    margin: 0 8px 0 8px;
}

.profile {
    height: 30px;
    width: 32px;
    border-radius: 50%;
    background-size: cover;
}

.box {
    margin: 3px auto;
    width: 200px;
    height: 20px;
    padding-right: 10px;
}

.container-1 {
    width: 200px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    position: absolute;
    top: -2px;
    left: 2.5rem;
    width: 200px;
    height: 27px;
    background: #ffffff;
    border: 1px solid #c5c4c4;
    font-size: 12pt;
    text-align: center;
    color: #000000;
    border-radius: 3px;
    transition: background 0.55s ease;
}

.container-1 input#search {
    /* Firefox 18- */
    color: #a8a7a7;
    letter-spacing: 1px;
    font-size: 12px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus {
    color: transparent;
}

.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
    outline: none;
    background: #ffffff;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

@media all and (max-width: 370px) {
    .box {
        margin: 15px auto;
        width: 200px;
        height: 20px;
        padding-right: 10px;
    }
}