.Posts {
    display: grid;
    grid-template-columns: 100% 50%;
    overflow-x: hidden;
}

.create-Post {
    margin-left: -75%;
}

.app {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}